.row{
    position: relative;
    border: 1px solid black;
    background-color: cadetblue;
    width: 400px;
    height: 400px;
}
.col{
    position: absolute;
    top: 100px;
    left: 100px;
    border: 1px solid rgb(96, 49, 158);
    background-color: rgb(212, 64, 101);
    width: 200px;
    height: 200px;
}