@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Noto+Sans+JP:wght@500&display=swap');
div{
    border: 2px solid blueviolet;
    font-family: 'Hina Mincho', serif;
background-color: cadetblue;
width: 25%;
}
.sisi{
    border: 5px solid goldenrod;
    font-family: 'Rampart One', cursive;
background-color: gray;
}
body{
    background-color: hotpink;

background-image: url(./3.);
background-size: cover;
}