i{
margin-left: 50%;
}
h1{
    margin-left: 42%;
}
fieldset{
    width: 25%;
    margin-left: 39%;
    height: 230px;
    background-color: whitesmoke;
    border-color:whitesmoke;
}
#user{
    margin-left: 4%;
    width: 90%;
    height: 10%;
    margin-top: 5%;
}
#passwrd{
    margin-left: 4%;
    width: 90%;
    height: 10%;
    margin-top: 4%;
}
#a{
   position: inherit;
    margin-left: 5%;
}
#pa{
    position: absolute;
    color: blue;
    margin-left: 9%;
}
button{
    margin-left: 4%;
    width: 90%;
    height: 15%;
    background-color: rgba(54, 163, 60, 0.815)
}
.new{

    margin-top: 1.5%;
    margin-left: 40%;
    width: 25%;
    height: 7%;
    border: 1px solid gray;
}
.terms{
    margin-left: 41%;
    margin-top: 2%;

}
#create{
    margin-bottom: 25%;
    margin-left: 20%;
    
}
#an{
    color: blue;
}
#t{
    color: blue;
}
#p{
    margin-left: 2%;
    color: blue;
}
#s{
    margin-left: 2%;
    color: blue;
}
#c{
    margin-left: 2%;
    color: blue;
}
